<div class="col-6 col-sm-12 col-lg-6 card-main-container">
    <div class="card card--list">
        <div class="row">
            <div class="col-12 col-sm-4">
                <div class="card__cover" routerLink="/movies/{{movie?._id}}">
                    <img [src]="movie?.imgUrl" alt="card-background">
                </div>
            </div>

            <div class="col-12 col-sm-8">
                <div class="card__content">
                    <h3 class="card__title"><a routerLink="/movies/{{movie?._id}}">{{movie?.title}}</a></h3>
                    <span class="card__category">
                        <a routerLink="/movies" [queryParams]="{genre: genre.value}" *ngFor="let genre of movie?.genres">{{genre.value}}</a>
                    </span>
                    <p class="added-time">Added: {{movie?._creationDate | calcTime}}</p>

                    <div class="card__description">
                        <p>{{movie?.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>