<div class="col-6 col-sm-12 col-lg-6 card-main-container">
    <div class="card card--list">
        <div class="row">
            <div class="col-12 col-sm-4">
                <div class="card__cover">
                    <img src="../assets/cover.jpg" alt="card-background">
                </div>
            </div>

            <div class="col-12 col-sm-8">
                <div class="card__content">
                    <h3 class="card__title"><a href="#">I Dream in Another Language</a></h3>
                    <span class="card__category">Action, Triler</span>
                    <p class="added-time">Added: 30 seconds ago</p>

                    <div class="card__description">
                        <p>
                            It is a long established fact that a reader will be distracted by the
                            readable content of a page when looking at its layout. The point of
                            using Lorem Ipsum is that it has a more-or-less normal distribution of
                            letters, as opposed to using 'Content here, content here', making it
                            look like readable English.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>