<section class="section section--first section--bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <h2 class="section__title">Movies</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="filter">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form class="filter-form" [formGroup]="form" (ngSubmit)="filterHandler(form)">
                    <div class="filter__items">
                        <div class="filter__item" id="filter__genre">
                            <mat-form-field appearance="fill">
                                <mat-label>Select genre:</mat-label>
                                <mat-select formControlName="genre">
                                    <mat-option *ngFor="let genre of genres" [value]="genre.value" ngDefaultControl>
                                        {{genre.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="buttons">
                        <button class="filter__btn">apply filter</button>
                        <button class="filter__btn" type="button" *ngIf="selectedGenre"
                            (click)="filterClearHandler()">clear
                            filter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<section class="section section--bg">
    <div class="container">
        <div class="row">
            <app-movies-card-item *ngFor="let movie of movies?.movies" [movie]="movie"></app-movies-card-item>

            <div class="col-12" *ngIf="movies?.count !== movies?.movies?.length">
                <button class="section__btn" (click)="moreClickHandler()">Show more</button>
            </div>
        </div>
    </div>
</section>