<section class="section details">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="details__title">
                    {{user?.username}}'s profile
                </h1>
            </div>

            <div class="col-12 col-xl-6">
                <div class="card card--details">
                    <div class="row">
                        <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-5">
                            <div class="card__cover">
                                <img src="../../assets/no-pfp.png" alt="profile image">
                            </div>
                        </div>

                        <div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-7">
                            <div class="card__content">

                                <ul class="card__meta">
                                    <li><span>Username: </span>{{user?.username}}</li>
                                    <li><span>Email Address: </span>{{user?.email}}</li>
                                    <li><span>Account Creation Date: </span> {{user?._creationDate | convertTIme}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section--bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section__title">Created Movies</h2>
            </div>

            <app-movies-card-item *ngFor="let movie of movies?.movies" [movie]="movie"></app-movies-card-item>

            <div class="col-12">
                <ng-container *ngIf="movies?.count !== movies?.movies?.length">
                    <a class="show-more-btn" (click)="moreClickHandler() ">
                        Show more
                    </a>
                </ng-container>
                <ng-container>
                    <a class="show-more-btn" routerLink="/add-movie" *ngIf="!movies?.count">
                        Create Movie
                    </a>
                </ng-container>

            </div>
        </div>
    </div>
</section>