<section class="section details">
    <div class="details__bg" data-bg="img/home/home__bg.jpg"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="details__title">{{movie?.title}}</h1>
            </div>
            <div class="col-12 col-xl-6">
                <div class="card card--details">
                    <div class="row">
                        <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-5">
                            <div class="card__cover">
                                <img [src]="movie?.imgUrl" alt="movie image">
                                <button class="btn" (click)="openTrailerHandler()
                                ">Watch Trailer</button>

                                <div class="owner-btns-container" *ngIf="isOwner">
                                    <button class="btn" routerLink="/movies/{{movie?._id}}/edit">Edit</button>
                                    <button class="btn" (click)="deleteModalHandler()">Delete</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-7">
                            <div class="card__content">

                                <ul class="card__meta">
                                    <li><span>Genres:</span>
                                        <a routerLink="/movies" [queryParams]="{genre: genre.value}"
                                            *ngFor="let genre of movie?.genres">{{genre.value}}</a>
                                    </li>
                                    <li><span>Release year:</span> {{movie?.releaseYear}}</li>
                                    <li><span>Running time:</span> {{movie?.time}} min</li>
                                    <li><span>Added:</span> {{movie?._creationDate | calcTime}} </li>
                                </ul>

                                <div class="card__description card__description--details">
                                    {{movie?.description}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-trailer-container *ngIf="isTrailerOpened" [trailerLink]="movie?.trailer"
    (closeTrailerWindow)="isTrailerOpened = false"></app-trailer-container>

<app-delete-modal *ngIf="isDeleteOpened" [movie]="movie" (closeModal)="isDeleteOpened = false"></app-delete-modal>