<header class="header">
  <div class="header__wrap">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="header__content">
            <!-- header logo -->
            <a href="index.html" class="header__logo">
              <img src="../assets/logo.svg" alt="LOGO">
            </a>
            <!-- end header logo -->

            <!-- header nav -->
            <ul class="header__nav">
              <li class="header__nav-item">
                <a class="header__nav-link" role="button" routerLink="home">Home</a>
              </li>
              <li class="header__nav-item">
                <a class="header__nav-link" role="button" routerLink="movies">Movies</a>
              </li>
              <li class="header__nav-item">
                <a class="header__nav-link" role="button" routerLink="about-us">About us</a>
              </li>
              <li class="header__nav-item">
                <a class="header__nav-link" role="button" routerLink="faq">FAQ</a>
              </li>
            </ul>

            <div class="header__auth">
              <a class="header__sign-in" routerLink="login">SIGN IN</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</header>