<header class="header">
  <div class="header__wrap">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="header__content">
            <a class="header__logo" routerLink="/home">
              <img src="../assets/logo.svg" alt="LOGO">
            </a>
            <ul class="header__nav">
              <li class="header__nav-item">
                <a class="header__nav-link" role="button" routerLink="home">Home</a>
              </li>
              <li class="header__nav-item">
                <a class="header__nav-link" role="button" routerLink="movies">Movies</a>
              </li>
              <li class="header__nav-item" *ngIf="authService.isLoggedIn">
                <a class="header__nav-link" role="button" routerLink="add-movie">Add Movie</a>
              </li>
              <li class="header__nav-item">
                <a class="header__nav-link" role="button" routerLink="about-us">About us</a>
              </li>
              <li class="header__nav-item">
                <a class="header__nav-link" role="button" routerLink="faq">FAQ</a>
              </li>
            </ul>

            <div class="header__auth" *ngIf="!authService.isLoggedIn">
              <a class="header__sign-in" routerLink="login">SIGN IN</a>
            </div>

            <div class="header__auth logged" *ngIf="authService.isLoggedIn">
              <a routerLink="profile" class="header__nav-link">Profile</a>
              <a routerLink="logout" class="header__nav-link">Logout</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</header>