:host {
    width: 20%;
}

.card__category {
    display: block;
    font-size: 15px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.7);
}

.card__category li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.card__category li:last-child {
    margin-bottom: 0;
}

.card__category a {
    font-size: 15px;
    position: relative;
    background-image: -webkit-linear-gradient(0deg, #ff55a5 0%, #ff5860 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ff5860;
    margin-right: 7px;
    opacity: 0.8;
}

.card__category a:after {
    content: ',';
    position: absolute;
    display: block;
    left: 100%;
    top: 0;
    background-image: -webkit-linear-gradient(0deg, #ff55a5 0%, #ff5860 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ff5860;
}

.card__category a:last-child {
    margin-right: 0;
}

.card__category a:last-child:after {
    display: none;
}

.card__category a:hover {
    opacity: 1;
}