.add-movie_form {
    background-color: #28282d;
    -webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    position: relative;
    width: 50%;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 50px;
}

.add-movie_form:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    display: block;
    background-image: -moz-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    background-image: -webkit-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    background-image: -ms-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    -webkit-box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
    box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
}

.error-message {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: #fd5050;
    margin: 0px;
    margin-top: 10px;
}

.logo {
    margin-bottom: 40px;
}

.logo a {
    max-width: 100%;
    width: auto;
}

.logo img {
    max-width: 172px;
}

.input {
    background-color: #2b2b31;
    border: none;
    height: 50px;
    position: relative;
    color: #fff;
    font-size: 15px;
    width: 250px;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 0 20px;
    letter-spacing: 0.2px;
    font-family: 'Open Sans', sans-serif;
}

.group {
    position: relative;
    margin-bottom: 20px;
}

.group--checkbox {
    width: 100%;
    text-align: left;
}

.group--checkbox input:not(:checked),
.group--checkbox input:checked {
    position: absolute;
    left: -9999px;
}

.group--checkbox input:not(:checked)+label,
.group--checkbox input:checked+label {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Open Sans', sans-serif;
    position: relative;
    cursor: pointer;
    padding-left: 34px;
    line-height: 22px;
    margin: 0;
}

.group--checkbox input:not(:checked)+label a,
.group--checkbox input:checked+label a {
    background-image: -webkit-linear-gradient(0deg, #ff55a5 0%, #ff5860 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ff5860;
    opacity: 0.75;
}

.group--checkbox input:not(:checked)+label a:hover,
.group--checkbox input:checked+label a:hover {
    opacity: 1;
}

.group--checkbox input:not(:checked)+label:before,
.group--checkbox input:checked+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #2b2b31;
}

.group--checkbox input:not(:checked)+label:after,
.group--checkbox input:checked+label:after {
    font-family: 'Ionicons';
    content: '\f3ff';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
    color: #ff55a5;
}

.group--checkbox input:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
}

.group--checkbox input:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

.group--checkbox label::-moz-selection {
    background: transparent;
    color: rgba(255, 255, 255, 0.5);
}

.group--checkbox label::selection {
    background: transparent;
    color: rgba(255, 255, 255, 0.5);
}

.add__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 250px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-image: -moz-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    background-image: -webkit-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    background-image: -ms-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    -webkit-box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
    box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
    opacity: 0.85;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 20px auto 0;
}

.add__btn:hover {
    opacity: 1;
    color: #fff;
}

.sign__text {
    margin-top: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Open Sans', sans-serif;
}

.sign__text a {
    position: relative;
    background-image: -webkit-linear-gradient(0deg, #ff55a5 0%, #ff5860 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ff5860;
    opacity: 0.8;
}

.sign__text a:hover {
    opacity: 1;
}

@media (min-width: 360px) {
    .input {
        width: 280px;
    }
}

@media (min-width: 768px) {
    .add-movie_form {
        padding: 50px 60px;
    }

    .sign__logo {
        margin-bottom: 50px;
    }
}

::ng-deep .mat-form-field {
    width: 280px;
}

::ng-deep .mat-select-value {
    color: #fff;
}

::ng-deep .mat-form-field {
    /* background-color: #2b2b31; */
    background-color: #2b2b31;
    letter-spacing: 0.2px;
    margin-left: 5px;
    font-family: 'Open Sans', sans-serif;

}

::ng-deep .mat-form-field-wrapper {
    padding: 0px;
}

::ng-deep .mat-form-field-underline {
    bottom: 0;
}

::ng-deep .mat-form-field-label {
    color: rgba(255, 255, 255, 0.5);
}