<section class="home">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="home__title"><b>NEW ITEMS</b> OF THIS SEASON</h1>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="content__head">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="content__title">Newest Added</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
                <div class="row">
                    <app-home-card-item></app-home-card-item>
                    <app-home-card-item></app-home-card-item>
                    <app-home-card-item></app-home-card-item>
                    <app-home-card-item></app-home-card-item>
                </div>
            </div>
        </div>
    </div>
</section>